/* You can add global styles to this file, and also import other style files */
body {
    height: 100%;
}

.tc-container {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.tc-sidebar {
    position: fixed;
    top: 37px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer; 
}

.center-vertical {
    margin: auto 0;
}

.error-message {
    color: #a94442;
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.navbar-fixed-top {
    border: 0;
}

.main {
    top: 60px;
    padding-right: 40px;
    padding-left: 40px;
}

.dl-horizontal dt {
    text-align: left;
}