<!-- project summary -->
<div class="container-fluid">
    <h3>Project name: {{project.name}}</h3>
    <div class="row">
        <div class="col-md-6">Start date: {{project.startDate | date:'fullDate'}}</div>
        <div class="col-md-6">End date: {{project.endDate | date:'fullDate'}}</div>
    </div>
    <a>Requirement link</a>
    <div class="row">
        <dl class="col-md-6 dl-horizontal">
            <dt>Backlog:</dt> 
            <dd>23 <a>tasks</a></dd>
            <dt>Sprints:</dt>
            <dd><a (click)="showSprints()">23</a></dd>
        </dl>
        <dl class="col-md-6 dl-horizontal">
            <dt>Number of participants:</dt>
            <dd><a>23</a></dd>
        </dl>
    </div>
</div>
<!-- sprint list -->
<router-outlet></router-outlet>