<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1>Project Management System</h1>
        <h3 class="text-center">Sign in</h3>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form [formGroup]="loginForm">
            <div class="form-group">
                <label class="control-label" for="username">Username</label>
                <input type="text" formControlName="username" placeholder="Username or email address" class="form-control" required/>
                <div [hidden]="loginForm.controls.username.valid || (loginForm.controls.username.pristine && !submitted)">
                    <div>Please enter your username or email address</div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="password">Password</label>
                <input type="password" formControlName="password" placeholder="Password" class="form-control" required/>
                <div [hidden]="loginForm.controls.password.valid || (loginForm.controls.password.pristine && !submitted)">
                    <div>Please enter your password</div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-offset-10 col-md-2">
                    <!--button type="submit" class="btn btn-primary" ng-click="login.$valid && loginCtrl.login()">Sign in</button-->
                    <button type="button" class="btn btn-primary" (click)="onSubmit(loginForm.value)">Sign in</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>