<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/projects">Project Management</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a>Welcome</a></li>
                <li><a>Help</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <!--menu class="col-md-2 sidebar tc-sidebar"></menu-->
        <div class="col-md-2 sidebar tc-sidebar">
            <ul class="nav nav-sidebar">
                <li routerLinkActive="active"><a routerLink="/projects">All projects</a></li>
                <li routerLinkActive="active"><a routerLink="/employees">Employees</a></li>
                <!--<li><a>Customers</a></li>-->
                <!--<li><a>Providers</a></li>-->
            </ul>
        </div>
        <div class="col-md-offset-2 col-md-10 main">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>